<header>
    <nav>
        <ul class='nav-container'>
          <li><h1 class='logo'><%= link_to "Planner", root_path %></h1></li>
          <% if user_signed_in? %>
          <div class="dropdown">
            <button class='dropbtn'><%= fa_icon('plus') %><span class='add-margin'>Add</span></button>
            <li class='dropdown-content'><div class='vertical-align'><%= fa_icon('calendar') %><%= link_to "Category", new_category_path %></div></li>
          </div>
          <% end %>
          <li class><h1><%= link_to 'Sign In', new_user_session_path %></h1></li>
        </ul>
      </nav>
</header>