<h1><%= @category.title %></h1>

<p><%= @category.description %></p>

<ul>
  <li><%= link_to "Edit", edit_category_path(@category) %></li>
  <li><%= link_to "Delete", category_path(@category),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Tasks</h2>
<%= render @category.tasks %>

<%= link_to "Add Task", new_category_task_path(@category, @task) %>